.bg-dark:hover{
    background-color: #7a7b97 !important;
}
.bg-dark:focus{
    background-color: #7a7b97 !important;
}
.bg-midnight-bloom:hover{
    background-image: linear-gradient(
        -20deg
        , #2b5876 0%, #4e4376 100%) !important;
}

.bg-midnight-bloom:focus{
    background-image: linear-gradient(
        -20deg
        , #2b5876 0%, #4e4376 100%) !important;
}