@media screen and (min-width: 1000px) {
    .app-content{
        background-color: #f4f5fd;
        min-height: 100vh;
        padding-left: 260px;
        padding-right: 260px;
    }

    .chart{
        width: 800px;
        margin-top: 4.5rem;
        }
}

.btn-pill {
    font-size: 15.2px;
    height : 36px;
    text-align: center;
  }
  .btn-first {
    color: #ffffff;
 
  }


  @media screen and (max-width: 768px) {
    .app-content{
        background-color: #f4f5fd;
        min-height: 100vh;
    }

    .chart{
        margin-top: 2rem;
        }
}
