<app-header></app-header>
<div class="app-content">
    <div class="app-content--inner">
        <div class="app-content--inner__wrapper">
            <div class="d-flex align-items-center justify-content-center py-2">
                <div class="chart d-flex align-items-center justify-content-center py-2 w-100">
                    <div class="row mb-4">
                        <div class="col-lg-12 mb-lg-0 mb-5">
                            <div class="card mb-3">
                                <div class="card-header" style="height: 40px;">
                                    <h5 class="title mb-0 py-2 text-center">
                                        <span style="color : '#3b3e66'">Online Playing Platform</span>
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between py-2">
                                        <div class="d-flex">
                                            <app-players-chart class="chart"></app-players-chart>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>